<div class="container-fluid">
	<div class="child-center">
		<form class="login" method="post" action="/">
			<input type="hidden" name="action" value="login">
			<input class="form-control" type="text" placeholder="Логин" name="login" id="login"><br>
			<input class="form-control" type="password" placeholder="Пароль" name="password" id="password"><br>
			<input class="" type="checkbox" value="1" name="remember" id="remember"> Запомнить меня<br><br>
			<input class="btn btn-primary" type="submit" value="Войти">
		</form>
	</div>
</div>