<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<h2>{title}</h2>
			<hr>
			<br>
			<p>Для создания нового пользователя нужно ввести уникальный логин и пароль. Также нужно указать тип пользователя и дополнительные права. Чем отличается пользователь от админа?
			Пользователю доступен только функционал сайта(возможно не весь), админу же доступен весь функционал сайта + некоторые возможности администрирования сайта.</p>
			<form method="post">
				<input type="hidden" name="action" value="add_user">
				<input class="btn btn-primary right" type="submit" value="Создать">
				<hr>
				<table class="table table-striped table-bordered admin-table">
					<thead class="">
					<th class="td-checkbox" style="display:none;"><input type="checkbox" class="" name="id_user" value="all"></th>
					<th class="td-text">Логин</th>
					<th class="td-text">Пароль</th>
					<th class="td-select">Доп. права</th>
					<th class="td-select">Тип пользователя</th>
					</thead>
					<tr>
						<td class="td-checkbox" style="display:none;"><input type="checkbox" class="form-control" name="id_user[]" value=""></td>
						<td class="td-text td-user-login"><input type="text" class="form-control" placeholder="a-z A-Z 0-9 _ -" name="login" pattern="^[a-zA-Z0-9_\-]+$"></td>
						<td class="td-text td-user-password"><input type="text" class="form-control" autocomplete="off" placeholder="a-z A-Z 0-9 ! @ $ % & ? * (6 сим.)" name="password" pattern="^[a-zA-Z0-9!@\$%&\?\*]{6,}$"></td>
						<td class="td-select td-user-roles"><select class="form-control" size="3" multiple name="user_roles[]">{all_roles}</select></td>
						<td class="td-text td-user-level">
							<select class="form-control" name="level">
								<option value="1" selected="selected">USER (пользователь без прав)</option>
								<option value="45">SUPERUSER (пользователь со всеми правами)</option>
								<option value="50">NEDOADMIN (администратор без прав)</option>
								<option value="100">ADMIN (администратор со всеми правами)</option>
							</select>
						</td>
					</tr>
				</table>
				<hr>
				<input class="btn btn-primary" type="submit" value="Создать">
			</form>
		</div>
	</div>
</div>