.child-center{
	position:absolute;
	top:50%;
	left:50%;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.settings label{
	font-weight:normal;
	cursor:pointer;
}

/*недостатки бутстрапа*/

body{
	padding-top: 70px;
	padding-bottom: 30px;
}

.a{
	cursor:pointer;
}

.card{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
.card-header:first-child{
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header{
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body{
	-ms-flex:1 1 auto;
	flex:1 1 auto;
	min-height:1px;
	padding:1.25rem;
}
.mb-0{
	margin:0;
}
/*конец*/

/*стиди таблицы*/
.timetable-block{
	position: relative;
	border: 1px solid #ccc;
	padding: 10px 10px 0 10px;
	margin:0;
	overflow-x: hidden;
}

.sticks{
	position:absolute;
	z-index:2;
	height: calc(100% - 16px);
}

.timetable-head{
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.timetable-head-wrap{
	float:left;
	padding-right:40px;
}

.timetable-head table{
	border-collapse: collapse;
}

.timetable-head th{
	text-align:center;
	border:1px solid #ddd;
}

.timetable-body{
	overflow: auto;
	position: relative;
	display: inline-block;
	height: 400px;
	max-width: 100%;
}

.timetable-block .cell{
	padding:5px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.timetable-body .default-row td{
	border:1px solid #ddd;
}

.timetable-body .row .cell{
	min-height:30px;
}

.timetable-table .col-number{
	width:50px;
	text-align:center;
}

.timetable-table .col-time{
	width:90px;
	text-align:center;
}

.timetable-table .col-lesson{
	width:250px;
}

.timetable-table .col-lesson-add{
	width:100px;
}

.timetable-table .col-group{
	width:80px;
	text-align:center;
}

.timetable-table .col-cabinet{
	width:80px;
	text-align:center;
}

.timetable-table .col-teacher{
	width:100px;
}

.stick{
	height:100%;
	width:5px;
	position:absolute;
}

.stick:hover, .stick.hover{
	background-color:black;
	background:linear-gradient(90deg, transparent 0px, transparent 2px, #000 2px, #000 3px, transparent 3px, transparent 100%);
	cursor:col-resize;
}

.timetable-extender{
	height: 6px;
	overflow: hidden;
	position: absolute;
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	text-align: center;
	cursor: row-resize;
	bottom: 0;
	width: 100%;
	left: 0;
}

.timetable-extender-marker{
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
	box-sizing: content-box;
}

/*конец*/

/*checkbox, radio*/
input[type=radio]:focus, input[type=checkbox]:focus{
	outline:none;
	border-color: #5b9dd9;
	box-shadow: 0 0 2px rgba(30,140,190,.8);
}

input[type=radio], input[type=checkbox]{
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	background-color: #fff;
	color: #32373c;
	outline: 0;
	transition: 50ms border-color ease-in-out;
}

input[type=radio], input[type=checkbox]{
	border: 1px solid #b4b9be;
	background: #fff;
	color: #555;
	clear: none;
	cursor: pointer;
	/*display: block;*/
	line-height: 0;
	height: 16px;
	outline: 0;
	padding: 0!important;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	min-width: 16px;
	-webkit-appearance: none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	transition: .05s border-color ease-in-out;
	margin:0 10px;
}

input[type=checkbox]:checked:before{
	content: "\2714";
	margin: 6px 0 0 0;
	color: #1e8cbe;
	font-size: 20px;
	width: 16px;
	outline:none;
}

input[type=radio]{
	border-radius: 50%;
	margin-right: 4px;
	line-height: 10px;
}

input[type=radio]:checked:before{
	content: "\2022";
	text-indent: -9999px;
	border-radius: 50px;
	font-size: 24px;
	width: 6px;
	height: 6px;
	margin: 4px;
	line-height: 16px;
	background-color: #1e8cbe;
	outline:none;
}

input[type=radio]:checked:before, input[type=checkbox]:checked:before{
	float: left;
	display: inline-block;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type=radio].disabled, input[type=radio].disabled:checked:before, input[type=radio]:disabled, input[type=radio]:disabled:checked:before, input[type=checkbox].disabled, input[type=checkbox].disabled:checked:before, input[type=checkbox]:disabled, input[type=checkbox]:disabled:checked:before {
	opacity: .7;
}
/*конец*/