.child-center{
	position:absolute;
	top:50%;
	left:50%;

	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
}

.not-select{
	-ms-user-select:none;
	-moz-user-select:none;
	user-select:none;
	-webkit-user-select:none;
}

.ui-sortable-handle{
	-ms-touch-action:none;
	touch-action:none;
}

.section-wrap{
	width:500px;
	border:1px solid #eee;
	border-radius:2px;
	margin:5px;
}

.section-header{
	position:relative;
	height:34px;
	margin-top:2px;
}

.section-col{
	position:relative;
	height:34px;
	background-color:#f8f8f8;
	margin:2px 2px 2px 20px;
	border-radius:2px;
}

.section-draggable{
	position:absolute;
	left:0;
	font-size:18px;
	line-height:34px;
	width:34px;
	text-align:center;
	cursor:move;
	-ms-user-select:none;
	-moz-user-select:none;
	user-select:none;
	-webkit-user-select:none;
}

.section-type{
	cursor:pointer;
}

.section-data{
	max-width:430px;
	white-space:nowrap;
	position:absolute;
	right:34px;
}

.section-delete{
	position:absolute;
	right:0;
	font-size:18px;
	line-height:34px;
	width:34px;
	text-align:center;
	cursor:pointer;
	-ms-user-select:none;
	-moz-user-select:none;
	user-select:none;
	-webkit-user-select:none;
}

.section-delete:hover{
	color:#d9534f;
}

.section-delete:active{
	color:#9c2b29;
}

.section-showhide{
	position:absolute;
	right:0;
	font-size:18px;
	line-height:34px;
	width:34px;
	text-align:center;
}

.settings label{
	font-weight:normal;
	cursor:pointer;
}

.additior-item{
	height:400px;
	width:100%;
}

/* login */
.login-form .btn, .form-control{
	border-radius:0;
}

.login-form{
	border:#ccc solid 1px;
	padding:20px;
	position:relative;
}

.in-form{
	margin:20px;
}

.in-form-pass-rec{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 20px;
	background: #fff;
	z-index: 5;
}

.form-toggle{
	padding-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	min-width:285px;
}

.form-toggle label{
	width:140px;
}

.invalid-feedback{
	display:none;
	font-size:12px;
}

.password-view{
	cursor: pointer;
	width: 50px;
	border: 1px solid #ccc;
	height: 34px;
	border-left-width: 0;
	background-color: #e9ecef;
	padding: 6px 6px;
	font-size: 14px;
	color: #555;
	float: left;
	text-align:center;
}

/*login end*/

.display-none{
	display:none;
}

.additor-block > div{
	width:70%;
}

/*недостатки бутстрапа*/

@media (max-width: 575.98px){
	body{
		padding-top:150px;
	}
}

@media (min-width: 576px) and (max-width: 805.98px){
	body{
		padding-top:100px;
	}
}

@media(min-width: 806px){
	body{
		padding-top:70px;
	}
}
body{
	padding-bottom:30px;
}

.navbar.navbar-inverse .dropdown-menu{
	background-color: #222;
	border-color: #080808;
}
.navbar.navbar-inverse .dropdown-menu .nav-link{
	 color: #fff;
}

.navbar.navbar-inverse .dropdown-menu .nav-link:hover{
	color: #333;
}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
}

.a{
	cursor:pointer;
}

.close{
	font-size:25px;
	line-height:1.42857143;
}

.modal-title{
	display:inline;
}

.navbar-inverse .nav-link.active{
	color:white !important;
}

.navbar-event{
	min-width:150px;
}

.logo{
	font-family: Verdana,sans-serif;
	color: #fff !important;
	padding: 2px 0 2px 20px;
}
.logo-addition{
	font-family: Verdana,sans-serif;
	color: #fff !important;
}
.svg-logo-line{
	fill:none;
	stroke:#fff;
	stroke-width:3;
}
.svg-stroke-white{
	stroke:#fff;
}
.svg-fill-white{
	fill:#fff;
}

.card{
	position:relative;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	min-width:0;
	word-wrap:break-word;
	background-color:#fff;
	background-clip:border-box;
	border:1px solid rgba(0, 0, 0, .125);
	border-radius:.25rem;
}

.card-header:first-child{
	border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header{
	margin-bottom:0;
	background-color:rgba(0, 0, 0, .03);
	border-bottom:1px solid rgba(0, 0, 0, .125);
}

.card-body{
	-ms-flex:1 1 auto;
	flex:1 1 auto;
	min-height:1px;
	padding:1.25rem;
}

.mb-0{
	margin:0;
}

/*конец*/

/*search-select*/
.radiofan-search{
	text-align:left;
	margin:0;
	display:inline-block;
	width:40%;
	margin-bottom:15px;
	padding:0;
	position:relative;
	font-size:16px;
	line-height:1.8;
}

div.radiofan-input{
	font-size:12px;
	display:block;
	padding:0;
	position:relative;
}

input.radiofan-input{
	width:100%;
	font-style:normal;
	margin:0;
	padding-left:9px;
}

.radiofan-select{
	margin:0;
	border-top-style:none;
	border-right-style:solid;
	border-bottom-style:solid;
	border-left-style:solid;
	border-width:1px;
	border-radius:0px 0px 2px 2px;
	border-color:#5b9dd9;
	overflow-y:auto;
	position:absolute;
	background-color:#fff;
	width:100%;
	top:100%;
	z-index:8000;
	display:none;
	max-height:150px;
	box-sizing:border-box;
}

.radiofan-select > ul{
	margin:0 !important;
	list-style-type:none;
	padding-left:0;
}

.radiofan-select hr{
	margin-top:10px;
}

.radiofan-option{
	margin:0;
	padding:0 2px 0 10px;
	cursor:pointer;
	min-height:21px;
}

.radiofan-option:hover{
	background-color:rgba(0, 0, 0, 0.1);
}

.select-region{
	background-color:rgba(140, 140, 140, 0.3);
}

/*конец*/

/*checkbox, radio*/
input[type=radio]:focus, input[type=checkbox]:focus{
	outline:none;
	border-color:#5b9dd9;
	box-shadow:0 0 2px rgba(30, 140, 190, .8);
}

input[type=radio], input[type=checkbox]{
	border:1px solid #ddd;
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, .07);
	background-color:#fff;
	color:#32373c;
	outline:0;
	transition:50ms border-color ease-in-out;
}

input[type=radio], input[type=checkbox]{
	border:1px solid #b4b9be;
	background:#fff;
	color:#555;
	clear:none;
	cursor:pointer;
	/*display: block;*/
	line-height:0;
	height:16px;
	outline:0;
	padding:0 !important;
	text-align:center;
	vertical-align:middle;
	width:16px;
	min-width:16px;
	-webkit-appearance:none;
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, .1);
	transition:.05s border-color ease-in-out;
	margin:0 10px 0 0;
}

input[type=checkbox]:checked:before{
	content:"\2714";
	margin:6px 0 0 0;
	color:#1e8cbe;
	font-size:20px;
	width:16px;
	outline:none;
}

input[type=radio]{
	border-radius:50%;
	margin-right:4px;
	line-height:10px;
}

input[type=radio]:checked:before{
	content:"\2022";
	text-indent:-9999px;
	border-radius:50px;
	font-size:24px;
	width:6px;
	height:6px;
	margin:4px;
	line-height:16px;
	background-color:#1e8cbe;
	outline:none;
}

input[type=radio]:checked:before, input[type=checkbox]:checked:before{
	float:left;
	display:inline-block;
	vertical-align:middle;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

input[type=radio].disabled, input[type=radio].disabled:checked:before, input[type=radio]:disabled, input[type=radio]:disabled:checked:before, input[type=checkbox].disabled, input[type=checkbox].disabled:checked:before, input[type=checkbox]:disabled, input[type=checkbox]:disabled:checked:before{
	opacity:.7;
}

/*конец*/